<html>
  <head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link href="http://www.yinwang.org/home.css" rel="stylesheet" type="text/css">
    <link rel="alternate" type="application/atom+xml" href="/atom.xml" title="Atom feed">
    <link rel="shortcut icon" href="http://www.yinwang.org/images/Yc.jpg">

    <title>当然我在扯淡</title>
  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top" style="opacity: .9" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">当然我在扯淡</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">Blog</a></li>
                <li><a href="http://www.jianshu.com/users/b1dd2b2c87a8/latest_articles">csdn</a></li>
                <li><a href="http://weibo.com/u/1586549391/home">Weibo</a></li>
                <li><a href="https://github.com/suntp">GitHub</a></li>
                <li><a href="http://www.yinwang.org/blog-cn/2016/04/13/pay-blog">付费</a></li>
            </ul>
        </div>
    </div>
    </nav>

    <div style="margin: 5% 10% 2% 10%">
    <table style="width: 100%">
        <tr>
            <td width="70%">
                <ul class="list-group">
                    
                    <li class="list-group-item title">
                        <a href="http://yinwang.org/blog-cn/2017/01/02/elitism">精英主义的灭亡</a>
                    </li>

                </ul>
                <!--<div style="margin-top: 4px">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:728px;height:90px"
                         data-ad-client="ca-pub-1331524016319584"
                         data-ad-slot="6657867155"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>-->
            </td>

            <!-- ads -->
            <!--<td width="20%" valign="top">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-1331524016319584"
                     data-ad-slot="2703393155"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </td>-->

        </tr>
    </table>
</div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>